html, body {
	margin: 0;
	width: 100%;
	height: 100%;
}
#stage {
	position: absolute;
	width: 100%;
	height: 100%;
}

.view {
	position: absolute;
	width: 100%;
	height: 100%;
}

button {
	width: 50%;
	height: 10%;
	margin: 5%;
}

#view0 {
{
width: 100%;
   background: url(https://fbcdn-sphotos-a-a.akamaihd.net/hphotos-ak-prn2/t1.0-9/q71/s480x480/10378165_568988306552777_8156775228060327472_n.jpg)  no-repeat; -webkit-background-size: contain;-moz-background-size: contain;-o-background-size: contain;background-size: contain;
background-attachment: scroll; 
}
#view1 {
width: 100%;
   background: url(https://fbcdn-sphotos-c-a.akamaihd.net/hphotos-ak-frc3/t31.0-8/10286957_568988309886110_2564467610008240119_o.jpg)  no-repeat; -webkit-background-size: contain;-moz-background-size: contain;-o-background-size: contain;background-size: contain;
background-attachment: scroll; 
}
#view2 {
	background-color: ivory;
}
#view3 {
	background-color: pink;
}
